---
import "../style.css";
import Box from "../components/box.astro";
import Box2 from "../components/box2.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="viewport" content="width=device-width" />
    <title>
      Duplicated file name anywhere inside the src/ folder. Not Allowed?
    </title>
  </head>
  <body>
    <h1>Duplicated file name anywhere inside the src/ folder. Not Allowed?</h1>
    <div class="parent">
      <Box />
      <Box2 />
    </div>
    <a href="https://github.com/withastro/astro/issues/10936"
      >Minimal reproduction for this repo</a
    >
  </body>
</html>
