---
import Image from "astro/components/Image.astro";
import img from "../imgs/img.jpeg";
import { ComponentBox } from "./component";
---

<div class="box">
  <h2>Image inside the src/imgs/</h2>
  <img
    loading="lazy"
    src={img.src}
    alt="Image 1 is not found if you can see this"
  />
</div>
<ComponentBox />
<!-- 
<div class="box">
  <h2>Image inside the src/imgs, using the &lt;Image /&gt;</h2>
  <Image
    loading="lazy"
    src={img}
    alt="Image 1.1 is not found if you can see this"
  />
</div> -->
