* {
  margin: 0;
  padding: 0;
}
body {
  background: darkslategray;
}
img {
  width: 100%;
}
h1 {
  text-align: center;
  color: white;
}
.parent {
  display: grid;
  row-gap: 2rem;
  align-items: center;
}
.box {
  background: lightgreen;
  padding: 1rem;
  max-width: 500px;
  margin-inline: auto;

  & img {
    object-fit: cover;
    width: 400px;
    height: 250px;
    /* aspect-ratio: 1 / 1; */
  }
}
